<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExamTrainer</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/admin.css">
    <!-- <link rel="icon" href="./favicon.ico" type="image/x-icon"> -->
</head>
<body>
<header>
    <div id="title">
        <a href="/home"><h1>ExamTrainer</h1></a>
    </div>
    <div id="admin" sec:authorize="hasRole('ROLE_ADMIN')">
        <a href="/admin"><button><span>Панель администратора</span></button></a>
    </div>
    <div id="unauthorized" sec:authorize="!isAuthenticated()">
        <a href="/login"><button><span>Вход</span></button></a>
        <a href="/register"><button><span>Регистрация</span></button></a>
    </div>
    <div id="authorized" sec:authorize="isAuthenticated()">
        <span>Логин: <span sec:authentication="name"></span></span>
        <a href="/logout"><button><span>Выход</span></button></a>
    </div>
</header>
<main>
    <form action="edit" method="post">
        <div class="adminBlock">
            <a th:href="@{../../{examId}/edit(examId=${taskGroup.examId})}">
                <span>Назад</span>
            </a>
            <h2>Редактирование категории вопроса</h2>
            <div class="adminInput">
                <label for="taskGroupTitle">Название</label>
                <input name="taskGroupTitle" id="taskGroupTitle" type="text" maxlength="50"
                       th:value="${taskGroup.title}">
                <label for="taskGroupAnswerFormat">Указание по формату ответа</label>
                <textarea name="taskGroupAnswerFormat" id="taskGroupAnswerFormat"
                          th:text="${taskGroup.answerFormat}"></textarea>
            </div>
            <button type="submit">Изменить</button>
        </div>
    </form>
    <form action="task/add" method="post">
        <div class="adminBlock">
            <h2>Добавить вопрос</h2>
            <div class="adminInput">
                <label for="statement">Условие</label>
                <textarea name="statement" id="statement"></textarea>
                <label for="answer">Ответ</label>
                <textarea name="answer" id="answer"></textarea>
            </div>
            <button type="submit">Добавить</button>
        </div>
    </form>
    <div class="adminBlock">
        <h2>Список вопросов</h2>
        <table>
            <tr>
                <td>Условие</td>
                <td>Ответ</td>
                <td style="width:20%">Действие</td>
            </tr>
            <tr th:each="item : ${tasks}">
                <td th:text="${item.statement}"></td>
                <td th:text="${item.answer}"></td>
                <td>
                    <div>
                        <a th:href="@{../task/{id}/edit(id=${item.id})}">
                            <button type="button">редактировать</button>
                        </a>
                        <form th:action="@{task/{id}/delete(id=${item.id})}" method="post">
                            <button type="submit">удалить</button>
                        </form>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</main>
</body>
</html>