main {
    align-items: center;
}

#loginBlock {
    width: 20%;
    min-width: 400px;

    padding: 20px;
    margin-top: 10vh;

    border: 2px solid black;
    border-radius: 10px;
}

#loginBlock .errorMessage {
    text-align: center;
}

#loginBlock > form {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#loginBlock > form h1 {
    margin-top: 0px;
    margin-bottom: 40px;
}

#inputBlock {
    display: flex;
}

#loginLabels, #loginInputs {
    display: flex;
    flex-flow: column;
}

#loginLabels {
    margin-right: 14px;
}

#inputBlock label {
    margin-top: 4px;
    font-size: 24px;
}

#inputBlock input {
    margin-top: 4px;
    font-size: 18px;
}

#loginBlock > form button {
    padding: 4px 10px;
    margin-top: 40px;
}