<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExamTrainer</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/exam.css">
    <!-- <link rel="icon" href="./favicon.ico" type="image/x-icon"> -->
</head>
<body>
<header>
    <div id="title">
        <a href="/home"><h1>ExamTrainer</h1></a>
    </div>
    <div id="admin" sec:authorize="hasRole('ROLE_ADMIN')">
        <a href="/admin"><button><span>Панель администратора</span></button></a>
    </div>
    <div id="unauthorized" sec:authorize="!isAuthenticated()">
        <a href="/login"><button><span>Вход</span></button></a>
        <a href="/register"><button><span>Регистрация</span></button></a>
    </div>
    <div id="authorized" sec:authorize="isAuthenticated()">
        <span>Логин: <span sec:authentication="name"></span></span>
        <a href="/logout"><button><span>Выход</span></button></a>
    </div>
</header>
<main>
    <form action="/exam" method="post">
        <div class="task" th:each="task : ${numberedTasks}">
            <h2 th:text="'Вопрос ' + ${task.serialNumber}"></h2>
            <p th:text="${task.statement}"></p>
            <p th:text="${task.answerFormat}"></p>
            <div>
                <label th:for="'task' + ${task.serialNumber}">Ответ:</label>
                <input name="taskIds" type="hidden" th:value="${task.id}">
                <input name="answers" th:id="'task' + ${task.serialNumber}" type="text">
            </div>
        </div>
        <button type="submit">Отправить</button>
    </form>
</main>
</body>
</html>